# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^query/(.*)/(.*)/(.*)/$   RestController.php?table=$1&field=$2&where=$3 [nc,qsa]
RewriteRule ^insert/(.*)/$   RestController.php?table=$1 [nc,qsa]

# Security
#order deny,allow
#deny from all
#allow from 127.0.0.1
