# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^request/list/$   RestController.php?view=all [nc,qsa]
RewriteRule ^request/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]

# Security
#order deny,allow
#deny from all
#allow from 127.0.0.1
